/* Parte de cima*/
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}
header{
    background: gray;
    /*height: 80px;
    width: 100%;*/
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 7%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
}
.header .logo{
    display: flex;
    align-items: center;  
    padding: 10px; 
    font-size: 2.5rem;
    color: black;
}
.header .logo:hover{
    color: white;
}
.header .logo img{
    width: 60px;
    height: 60px;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: black;
}
.header .navbar a:hover{
    color: rgb(255, 255, 255);
    border-bottom: .1rem solid white;
    padding-bottom: .5rem;
}

.icons  {
    color: black;
    cursor: pointer;
    font-size: 2.2rem;
    
    background: white;
    
}

#apresent{
    border: 1px solid blac;
    margin: 200px;
    margin-top: 250px;
}

  #apresent h1{
    font-size: 80px;
    content: attr(data-texto);
    position: absol;
    top: 0;
    left: 0;
    opacity: 0;
    animation: ascender 2s ease-in-out forwards;
  }
  
  @keyframes ascender {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateY(-70px);
    }
  }
  .recado{
    border: 1px solid blac;
    height: 500px;
    background: gray;
    padding: 5% 10%;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  .recado h2{
    font-size: 40px;
  }
  .texto{
    margin-right: 25%;
  }
  .texto p{
    font-size: 20px;
    line-height: 1.5em;
  }
  .imagem img{
    width: 400px;
    height: 400px;
  }

  .card {
    /* Styles for the card container */
    display: inline-block;
    width: 400px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;
  }
  
  .card img {
    /* Styles for the card image */
    width: 100%;
    display: block;
  }
  
  .card-content {
    padding: 30px;
  }
  .card-content h3{
    font-size: 20px;
  }
  .card-content p{
    text-indent: 30px;
    margin: 5px;
    font-family: serif;
    font-size: 20px;
  }

  /*Todas as costumizações de card*/

  /*Edita toda a area no qual fica localizado os cards*/
  .areacards {
    align-items: flex-start;
    justify-content: space-between;
    padding: 5% 5%;
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem em linhas */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10px; /* Espaçamento entre os cards */
  }
  


  /*Costumização do butão de mostrar mais dos cards */
  button{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #7ca19a; /* Dourado */
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: serif;
    font-size: 18px;
    transition: background-color 0.3s ease; /* Animação de hover */
  }

  button:hover{
    background-color: #577c7a; /* Dourado mais escuro */
}
  

  .conteudo-escondido {
    max-height: 0; /* Altura inicial = 0 */
    overflow: hidden; /* Conteúdo oculto */
    transition: max-height 3s ease-in-out; /* Propriedade de transição */
}

  .contEscAtivo {
  max-height: 7000px; /* Altura final para mostrar o conteúdo */
  }